/* color scheme
 * clubhouse purple: #2D2769
 * 80/60/40/20: #4F4983, #716998, #968FB2, #C3BED3
 * light blue: #C5DBEA
 * 80/60/40/20: #C4DCE8, #D2E3EC, #E0EBF1, #EEF4F7
 * network blue: #005B9E
 * 80/60/40/20: #4478B1, #7290C0, #9BAED2, #C9D2E6
*/

/* CSS VARIABLES */

:root {
  --color-purple: #2D2769;
  --color-network-blue: #005B9E;
  --color-light-blue: #C5DBEA;
}

/* FONTS */

@font-face {
  font-family: Montserrat;
  src: url(fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(fonts/montserrat/Montserrat-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/open_sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/open_sans/OpenSans-Bold.ttf);
  font-weight: bold;
}

/* CORE */

html,
body {
	font-family: Montserrat;
  height: 100%;
}

body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
}

footer {
  color: #fff;
  background-color: var(--color-purple);
  flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1em;
  text-align: center;
}

h6, .h6 {
	color: red;
}

select, input {
  max-width: 100%;
}

select, input[type=submit] {
  margin-bottom: 20px;
}

select, input:not([type=submit]) {
  min-width: 50%;
}

@media only screen and (max-width: 767px) {
  select, input:not([type=submit]) {
    width: 100%;
  }
}

label {
  margin-top: 20px;
}

label:first-of-type {
  margin-top: 0;
}

.dropdown {
	min-width: 0;
}

a:not(.btn) {
	color: var(--color-network-blue);
}

a:not(.btn):visited {
	color: var(--color-purple);
}

input[type=checkbox] {
  display: inline;
}

input[type=submit],
.btn.btn-primary {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  background-color: var(--color-network-blue);
  border: 0 solid transparent;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  white-space: pre-wrap;
}

input[type=submit]:hover,
.btn.btn-primary:hover {
  background-color: #4478B1;
}

.btn .material-icons {
  font-size: 96px;
  color: var(--color-light-blue);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */

nav .navbar-brand img {
  width: 350px;
}

@media only screen and (max-width: 767px) {
  nav.navbar {
    flex-direction: column;
  }
  nav .navbar-toggler {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 991px) {
  nav .navbar-nav {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  nav .navbar-nav li {
    margin: 0 10px;
  }
  nav .navbar-nav li:first-of-type {
    margin-left: 0;
  }
  nav .navbar-nav li:last-of-type {
    margin-right: 0;
  }
}

/* TOP */

#welcome h2 {
	color: var(--color-purple);
  margin-bottom: 0;
}

#welcome h3 {
	font-style: italic;
}

#welcome #clubhouse-impersonation {
  margin-top: 20px;
  text-align: center;
}

/* INDEX PAGE */

#index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index .btn {
  max-width: 350px;
}

/* ADMIN & CLUBHOUSE BUTTONS */

#admin-buttons,
#clubhouse-buttons {
  display: flex;
  justify-content: space-evenly;
}

#admin-buttons a,
#clubhouse-buttons a {
  width: 200px;
}

@media only screen and (max-width: 767px) {
  #admin-buttons,
  #clubhouse-buttons {
    flex-direction: column;
  }
  #admin-buttons a,
  #clubhouse-buttons a {
    width: auto;
    margin-bottom: 20px;
  }
}

/* CLUBHOUSE CHECK-IN PAGE */

#checkin-wrapper {
	display: flex;
  flex-direction: row;
  width: 100%;
}

#checkin-wrapper > div {
	width: 50%;
}

#checkin-wrapper > div:first-of-type {
	margin-right: 10px;
}

#checkin-wrapper > div:last-of-type {
	margin-left: 10px;
}

#checkin-wrapper select {
	width: 100%;
}
