{% extends "base.html" %}
<!-- user account management-->

{% block title %} {{_("Account")}} {% endblock %}

{% block navtabs %}
<!-- different navtabs based on account-->
{% if current_user.access == "admin" %}
<li class="nav-item"><a class="nav-link" href="/admin">{{_("Admin Home")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/clubhouses">{{_("Clubhouses")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/view">{{_("View Clubhouse Data")}}</a></li>
{% else %}
<li class="nav-item"><a class="nav-link" href="/clubhouse">{{_("Clubhouse Home")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/clubhouse/checkin">{{_("Member Check-in")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/clubhouse/members">{{_("Edit Members")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/clubhouse/view">{{_("View Data")}}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="col" id="account">
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		{{ form.username.label }}
		{{ form.username(size=20) }}
		{% if current_user.access == "clubhouse" %}
		{{ form.full_name.label }}
	        {% for error in form.full_name.errors %}
	        <h6>[{{ error }}]</h6>
	        {% endfor %}
	        {{ form.full_name(size=20) }}
	        {{ form.short_name.label }}
	        {% for error in form.short_name.errors %}
	        <h6>[{{ error }}]</h6>
	        {% endfor %}
	        {{ form.short_name(size=20) }}
		{% endif %}
		{{ form.old_password.label }}
		{{ form.old_password(size=20) }}
		{{ form.password.label }}
	        {% for error in form.password.errors %}
	        <h6>[{{ error }}]</h6>
	        {% endfor %}
	        {{ form.password(size=20) }}
	        {{ form.confirm.label }}
	        {% for error in form.confirm.errors %}
	        <h6>[{{ error }}]</h6>
	        {% endfor %}
	        {{ form.confirm(size=20) }}
		{% if current_user.access == "clubhouse" %}
		<div class="d-inline my-3">
		{{ form.display_by_last() }}
		{{ form.display_by_last.label }}
		</div>
		{% endif %}
		<br />
		{{ form.submit_btn() }}
		{{ form.cancel_btn() }}
	</form>
</div>
{% endblock %}
