<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
	{% block scripts %}
	{% endblock %}
	<title>{% block title %}{% endblock %} - {{_("The Clubhouse Network")}}</title>
        <link rel='icon' href="{{ url_for('static',filename='images/site_logo.png')}}" type='image/x-icon'/ >    
        {% endblock %}
    </head>
    <body>
        <article>
            <header>
				<nav>
				    <div id="navbar">
					{% if current_user.is_anonymous %}
						<a href="/" id="logo"><img src = "{{ url_for('static',filename='images/small.jpg') }}"></a>
					{% elif current_user.access == "admin" %}
						<a href="/admin" id="logo"><img src = "{{ url_for('static',filename='images/small.jpg') }}"></a>
					{% else %}
						<a href="/clubhouse" id="logo"><img src = "{{ url_for('static',filename='images/small.jpg') }}"></a>
					{% endif %}
					<ul>
			                        {% block navtabs %}{% endblock %}
						{% if not current_user.is_anonymous %}
						<li><a href="{{ url_for('logout') }}">{{_("Logout")}}</a></li>
						{% endif %}
			                    </ul>
			                </div>
					</nav>
					{% if not current_user.is_anonymous %}
					<div id="welcome">
						{% if current_user.access == "admin" %}
						<h1>{{_("Welcome, Administrator")}}</h1>
						{% block welcome_message %}{% endblock %}
						{% else %}
						<h1>{{current_user.name}}</h1>
						{% endif %}
					</div>
					{% endif %}
					{% with messages = get_flashed_messages() %}
					{% for message in messages %}
					<div class="flash-container">
						<span class="flash-warning">{{ message }}</span>
					</div>
					{% endfor %}
					{% endwith %}
            </header>

            <main>
                <div id="content">{% block content %}{% endblock %}</div>
            </main>

            <footer>
                {% block footer %}
                The Clubhouse Network.
                {% endblock %}
            </footer>
        </article>
    </body>
    {% block endscripts %}
    {% endblock %}
</html>
