{% extends "base.html" %}
<!-- allow clubhouse to change password -->

{% block title %} {{_("Edit Clubhouse")}} {% endblock %}

{% block navtabs %}
<li class="nav-item"><a class="nav-link" href="/admin">{{_("Admin Home")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/clubhouses">{{_("Clubhouses")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/view">{{_("View Clubhouse Data")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/account">{{_("Account")}}</a></li>
{% endblock %}

{% block content %}
<div class="col text-center" id="clubhouse-edit">
	{% if clubhouse_name %}
	<h1>{{_("Edit Clubhouse")}}</h1>
	<h3>{{ clubhouse_name }}</h3>
	{% else %}
	<h1>{{_("Change Password")}}</h1>
	{% endif %}
	<form id="editform" action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		{% if clubhouse_name %}
		{{ form.username.label }}
		{{ form.username(size=20) }}
		{{ form.full_name.label }}
		{% for error in form.full_name.errors %}
		<h6>[{{ error }}]</h6>
		{% endfor %}
		{{ form.full_name(size=20) }}
		{{ form.short_name.label }}
		{% for error in form.short_name.errors %}
		<h6>[{{ error }}]</h6>
		{% endfor %}
		{{ form.short_name(size=20) }}
		{{ form.join_date.label }}
		{{ form.join_date(size=20) }}
		{% endif %}
		{{ form.password.label }}
		{% for error in form.password.errors %}
		<h6>[{{ error }}]</h6>
		{% endfor %}
		{{ form.password(size=20) }}
		{{ form.confirm.label }}
		{% for error in form.confirm.errors %}
		<h6>[{{ error }}]</h6>
		{% endfor %}
		{{ form.confirm(size=20) }}
		<br />
		{{ form.submit_btn() }}
		{% if clubhouse_name %}
		{{ form.delete_btn() }}
		{% endif %}
		{{ form.cancel_btn() }}
	</form>
</div>
{% endblock %}

<!-- this is mostly copied from clubhouse member deletion -->
{% block endscripts %}
<script type="text/javascript">
var cur_form = document.getElementById("editform");
var delete_btn = cur_form.elements['delete_btn'];
function confirm_delete(e) {
	if (!confirm("WARNING: attempting to delete a clubhouse. This action is irreversible. Are you sure?"))
		e.preventDefault();
}
delete_btn.onclick = confirm_delete;
</script>
{% endblock %}
