{% extends "base.html" %}
<!--view all clubhouses page, allows adding and impersonation-->

{% block scripts %}
<script type="text/javascript" src ="{{ url_for('static',filename='search.js')}}"></script>
{% endblock %}

{% block title %} {{_("Clubhouses")}} {% endblock %}

{% block navtabs %}
<li class="nav-item"><a class="nav-link" href="/admin">{{_("Admin Home")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/admin/view">{{_("View Data")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/account">{{_("Account")}}</a></li>
{% endblock %}

{% block content %}
<div class="col text-center" id="clubhouses">
	<h1>{{_("Clubhouses")}}</h1>
	<form id="chooseform" action="" method="post" autocomplete="off" novalidate>
		{{form.hidden_tag()}}
		<input id="search-name" type="text" placeholder="Clubhouse name"/><br />
		{{ form.clubhouseselect.label() }}
		{{ form.clubhouseselect(size=20) }}
		{% for error in form.clubhouseselect.errors %}
		<h6>{{ error }}</h6>
		{% endfor %}
		{{ form.view() }}
		{% if not select_only %}
		{{ form.edit() }}
		{{ form.new_clubhouse() }}
		{% endif %}
	</form>
</div>
{% endblock %}

{% block endscripts %}
<script>
var cur_form = document.getElementById("chooseform");
var cur_fields = ["clubhouseselect",];
function wrapper() {
	return search(this.value, cur_form, cur_fields);
}
document.getElementById("search-name").addEventListener("input", wrapper);
</script>

{% endblock %}
