{% extends "base.html" %}
<!-- home page for admin -->

{% block title %} {{_("Clubhouse Administrator")}} {% endblock %}

{% block navtabs %}
<li class="nav-item"><a class="nav-link" href="admin/clubhouses">{{_("Clubhouses")}}</a></li>
<li class="nav-item"><a class="nav-link" href="admin/view">{{_("View Clubhouse Data")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/account">{{_("Account")}}</a></li>
{% endblock %}

{% block content %}
<div class="col" id="admin-buttons">
	<a href="admin/clubhouses" class="btn btn-primary btn-lg" role="button" aria-pressed="true">{{_("Select Clubhouse")}}<br><i class="material-icons">home</i></a>
	<a href="admin/view" class="btn btn-primary btn-lg" role="button" aria-pressed="true">{{_("View Overall Data")}}<br><i class="material-icons">show_chart</i></a>
<!--
<div class="w3-bar" style="text-align:center">
	<a href="admin/clubhouses" class="w3-button w3-bar-item w3-xxxlarge w3-indigo w3-hover-blue w3-border w3-border-blue w3-round-large" style="width:45%;padding:16px;margin:16px;float: left">{{_("Select Clubhouse")}}<br><i class="material-icons" style="font-size:96px;color:#A23BEC">home</i></a>
	<a href="admin/view" class="w3-button w3-bar-item w3-xxxlarge w3-indigo w3-hover-blue w3-border w3-border-blue w3-round-large" style="width:45%;padding:16px;margin:16px;float: right">{{_("View Overall Data")}}<br><i class="material-icons" style="font-size:96px;color:#A23BEC">show_chart</i></a>
-->
</div>
{% endblock %}
