{% extends "base.html" %}
<!-- add/remove member, change member information -->

{% block title %} {{_("Edit Member")}} {% endblock %}

{% block navtabs %}
<li><a href="/clubhouse">{{_("Clubhouse Home")}}</a></li>
<li><a href="/clubhouse/checkin">{{_("Member Check-in")}}</a></li>
<li><a href="/clubhouse/view">{{_("View Data")}}</a></li>
{% endblock %}

{% block content %}
<a href="/clubhouse/viewmembers">See all members</a>

<form method="POST">
	{{_("First Name (required)")}}<br>
	<input type="text" name="firstname" required><br>
	{{_("Last Name (required)")}}<br>
	<input type="text" name="lastname" required><br>
	{{_("Street Address")}}<br>
	<input type="text" name="address"><br>
	{{_("City")}}<br>
	<input type="text" name="city"><br>
	{{_("State")}}<br>
	<input type="text" name="state"><br>
	{{_("Zip/Postal Code")}}<br>
	<input type="text" name="zipcode"><br>
	{{_("Email")}}<br>
	<input type="text" name="email"><br>
	{{_("Phone")}}<br>
	<input type="text" name="phone"><br>
	{{_("Join Date")}}<br>
	<input type="text" name="joindate"><br>
	{{_("Birthday")}}<br>
	<input type="text" name="birthday"><br>
	{{_("School")}}<br>
	<input type="text" name="school"><br>
	{{_("Gender")}}<br>
	<input type="text" name="gender"><br>
	{{_("Race and Ethnicity")}}<br>
	<input type="text" name="race"><br>
	{{_("Guardian First Name")}}<br>
	<input type="text" name="guardianfirstname"><br>
	{{_("Guardian Last Name")}}<br>
	<input type="text" name="guardianlastname"><br>
	{{_("Guardian Relationship to Member")}}<br>
	<input type="text" name="guardianrelationship"><br>
	{{_("Guardian Email")}}<br>
	<input type="text" name="guardnemail"><br>
	{{_("Guardian Phone")}}<br>
	<input type="text" name="guardianphone"><br><br>
	<input type="submit" name="button" value="New">
	<input type="submit" name="button" value="Update">
	<input type="reset" name="button" value="Clear">
</form>
{% endblock %}
