<!-- add/remove member, change member information -->
<!DOCTYPE html>
<html>

	<head>
		<title>Edit Member</title>
	</head>

	<body>
		<form>
			First Name (required)<br>
			<input type="text" name="firstname"><br>
			Last Name (required)<br>
			<input type="text" name="lastname"><br>
			Street Address<br>
			<input type="text" name="address"><br>
			City<br>
			<input type="text" name="city"><br>
			State<br>
			<input type="text" name="state"><br>
			Zip/Postal Code<br>
			<input type="text" name="zipcode"><br>
			Email<br>
			<input type="text" name="email"><br>
			Phone<br>
			<input type="text" name="phone"><br>
			Join Date<br>
			<input type="text" name="joindate"><br>
			Birthday<br>
			<input type="text" name="birthday"><br>
			School<br>
			<input type="text" name="school"><br>
			Gender<br>
			<input type="text" name="gender"><br>
			Race and Ethnicity<br>
			<input type="text" name="race"><br>
			Guardian First Name<br>
			<input type="text" name="guardianfirstname"><br>
			Guardian Last Name<br>
			<input type="text" name="guardianlastname"><br>
			Guardian Relationship to Member<br>
			<input type="text" name="guardianrelationship"><br>
			Guardian Email<br>
			<input type="text" name="guardnemail"><br>
			Guardian Phone<br>
			<input type="text" name="guardianphone"><br><br>
			<input type="submit" value="New">
			<input type="submit" value="Update">
			<input type="submit" value="Cancel">
		</form>
	</body>
</html>
