{% extends "base.html" %}
<!-- homepage for individual clubhouse -->

{% block title %} {{_("Clubhouse Coordinator")}} {% endblock %}

{% block navtabs %}
<li>{{_("Check-in")}}</li>
<li>{{_("Add Student")}}</li>
<li>{{_("View Data")}}</li>
{% endblock %}

{% block content %}
<div>
	<a href="/clubhouse/editmembers">{{_("Edit Members")}}</a>
</div>

<div>
	<a href="/clubhouse/checkin">{{_("Member Check-ins")}}</a>
</div>

<div>
	<a href="/clubhouse/view">{{_("View Clubhouse Data")}}</a>
</div>
{% endblock %}
