{% extends "base.html" %}
<!-- homepage for individual clubhouse -->

{% block title %} {{_("Clubhouse Coordinator")}} {% endblock %}

{% block navtabs %}
<li><a href="/clubhouse/checkin">{{_("Member Check-in")}}</a></li>
<li><a href="/clubhouse/members">{{_("Edit Members")}}</a></li>
<li><a href="/clubhouse/view">{{_("View Data")}}</a></li>
{% endblock %}

{% block content %}
<div>
	<a href="/clubhouse/members">{{_("Edit Members")}}</a>
</div>

<div>
	<a href="/clubhouse/checkin">{{_("Member Check-ins")}}</a>
</div>

<div>
	<a href="/clubhouse/view">{{_("View Clubhouse Data")}}</a>
</div>
{% endblock %}
