{% extends "base.html" %}
<!-- add clubhouse information -->

{% block title %} {{_("Add Clubhouse")}} {% endblock %}

{% block navtabs %}
<li><a href="/admin">{{_("Admin Home")}}</a></li>
<li><a href="/admin/view">{{_("View Clubhouse Data")}}</a></li>
{% endblock %}

{% block content %}
<h1>{{_("Add New Clubhouse Account")}}</h1>
<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
	{{ form.full_name.label }}<br>
	{% for error in form.full_name.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.full_name(size=20) }}<br>
	{{ form.short_name.label }}<br>
	{{ form.short_name(size=20) }}<br>
	{{ form.join_date.label }}<br>
	{% for error in form.join_date.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.join_date(size=20) }}<br>
	{{ form.username.label }}<br>
	{% for error in form.username.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.username(size=20) }}<br>
	{{ form.password.label }}<br>
	{% for error in form.password.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.password(size=20) }}<br>
	{{ form.confirm.label }}<br>
	{% for error in form.confirm.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.confirm(size=20) }}<br>
	{{ form.display_by_last() }}
	{{ form.display_by_last.label }}<br>
	{{ form.add_btn() }}<br>
	{{ form.cancel_btn() }}
</form>
{% endblock %}
