{% extends "base.html" %}
<!-- add/remove or modify clubhouse information -->

{% block title %} {{_("Edit Clubhouses")}} {% endblock %}

{% block navtabs %}
<li><a href="/admin">{{_("Admin Home")}}</a></li>
<li><a href="/admin/view">{{_("View Clubhouse Data")}}</a></li>
{% endblock %}

{% block content %}
<form>
	{{_("Clubhouse Name")}}<br>
	<input type="text" name="name"><br>
	{{_("Address")}}<br>
	<input type="text" name="address"><br><br>
	<input type="submit" value="New">
	<input type="submit" value="Update">
	<input type="submit" value="Cancel">
</form>
{% endblock %}
