{% extends "base.html" %}
<!-- add clubhouse information -->

{% block title %} {{_("Add Clubhouse")}} {% endblock %}

{% block navtabs %}
<li><a href="/admin">{{_("Admin Home")}}</a></li>
<li><a href="/admin/view">{{_("View Clubhouse Data")}}</a></li>
{% endblock %}

{% block content %}
<h1>{{_("Add New Clubhouse")}}</h1>
<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
	{{ form.full_name.label }}<br>
	{% for error in form.full_name.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.full_name(size=20) }}<br>
	{{ form.short_name.label }}<br>
	{{ form.short_name(size=20) }}<br>
	{{ form.add_btn() }}<br>
	{{ form.cancel_btn() }}
</form>
{% endblock %}
