{% extends "base.html" %}
<!-- allow clubhouse to change password -->

{% block title %} {{_("Edit Clubhouse")}} {% endblock %}

{% block navtabs %}
<li><a href="/admin">{{_("Admin Home")}}</a></li>
<li><a href="/admin/clubhouses">{{_("Clubhouses")}}</a></li>
<li><a href="/admin/view">{{_("View Clubhouse Data")}}</a></li>
{% endblock %}

{% block content %}
{% if clubhouse_name %}
<h1>{{_("Edit Clubhouse")}}</h1>
<h3>{{ clubhouse_name }}</h3>
{% else %}
<h1>{{_("Change Password")}}</h1>
{% endif %}
<form id="editform" action="" method="post" novalidate>
	{{ form.hidden_tag() }}
	{% if clubhouse_name %}
	{{ form.full_name.label }}<br>
	{{ form.full_name(size=20) }}<br>
	{{ form.short_name.label }}<br>
	{{ form.short_name(size=20) }}<br>
	{{ form.join_date.label }}<br>
	{{ form.join_date(size=20) }}<br>
	{% endif %}
	{% if require_password %}
	{{ form.old_password.label }}<br>
	{{ form.old_password(size=20) }}<br>
	{% endif %}
	{{ form.password.label }}<br>
	{% for error in form.password.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.password(size=20) }}<br>
	{{ form.confirm.label }}<br>
	{% for error in form.confirm.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.confirm(size=20) }}<br>
	{{ form.submit_btn() }}
	{% if clubhouse_name %}
	{{ form.delete_btn() }}
	{% endif %}
	<br>
	{{ form.cancel_btn() }}
</form>
{% endblock %}

<!-- this is mostly copied from clubhouse member deletion -->
{% block endscripts %}
<script type="text/javascript">
var cur_form = document.getElementById("editform");
var delete_btn = cur_form.elements['delete_btn'];
function confirm_delete(e) {
	if (!confirm("WARNING: attempting to delete a clubhouse. This action is irreversible. Are you sure?"))
		e.preventDefault();
}
delete_btn.onclick = confirm_delete;
</script>
{% endblock %}
