{% extends "base.html" %}
<!-- allow clubhouse to change password -->

{% block title %} {{_("Edit Clubhouse")}} {% endblock %}

{% block navtabs %}
<li><a href="/admin">{{_("Admin Home")}}</a></li>
<li><a href="/admin/clubhouses">{{_("Clubhouses")}}</a></li>
<li><a href="/admin/view">{{_("View Clubhouse Data")}}</a></li>
{% endblock %}

{% block content %}
<h1>{{_("Change Password")}}</h1>
{% if clubhouse_name %}
<h3>{{ clubhouse_name }}</h3>
{% endif %}
<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
	{{ form.old_password.label }}<br>
	{{ form.old_password(size=20) }}<br>
	{{ form.password.label }}<br>
	{% for error in form.password.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.password(size=20) }}<br>
	{{ form.confirm.label }}<br>
	{% for error in form.confirm.errors %}
	<span style="color: red;">[{{ error }}]</span><br>
	{% endfor %}
	{{ form.confirm(size=20) }}<br>
	{{ form.name_display(checked=display_last) }}
	{{ form.name_display.label }}<br>
	{{ form.submit_btn() }}<br>
	{{ form.cancel_btn() }}<br>
	{% if second_del %}
	{{ form.delete_btn2() }}
	{% else %}
	{{ form.delete_btn1() }}
	{% endif %}
</form>
{% endblock %}
