{% extends "base.html" %}
<!--view all clubhouses page, allows adding and impersonation-->

{% block title %} {{_("Clubhouses")}} {% endblock %}

{% block navtabs %}
<li><a href="/admin">{{_("Admin Home")}}</a></li>
<li><a href="/admin/view">{{_("View Data")}}</a></li>
{% endblock %}

{% block content %}
	<h1>{{_("Clubhouses")}}</h1>
	<form action="" method="post" novalidate>
		{{form.hidden_tag()}}
		<div class="select-field-wrapper">
			{{ form.clubhouseselect.label() }}<br>
			{{ form.clubhouseselect(size=20) }}<br>
			{% for error in form.clubhouseselect.errors %}
			<span style="color: red;">{{ error }}</span><br>
			{% endfor %}
			{{ form.view() }}<br>
			{% if not select_only %}
			{{ form.edit() }}<br>
			{{ form.new_clubhouse() }}
			{% endif %}
		</div>
	</form>
{% endblock %}

