{% extends "base.html" %}
<!-- home page for admin -->

{% block title %} {{_("Clubhouse Administrator")}} {% endblock %}

{% block navtabs %}
<li><a href="admin/clubhouses">{{_("Clubhouses")}}</a></li>
<li><a href="admin/view">{{_("View Clubhouse Data")}}</a></li>
<li><a href="/account">{{_("Account")}}</a></li>
{% endblock %}

{% block content %}
<div class="w3-bar">
	<a href="admin/clubhouses" class="w3-button w3-bar-item w3-xxxlarge w3-indigo w3-hover-blue w3-border w3-border-blue w3-round-large" style="width:50%">{{_("Select Clubhouse")}}<br><i class="material-icons" style="font-size:96px;color:#A23BEC">home</i></a>
	<a href="admin/view" class="w3-button w3-bar-item w3-xxxlarge w3-indigo w3-hover-blue w3-border w3-border-blue w3-round-large" style="width:50%">{{_("View Overall Data")}}<br><i class="material-icons" style="font-size:96px;color:#A23BEC">show_chart</i></a>
{% endblock %}
