{% extends "base.html" %}
<!-- view information across all clubhouses -->

<!-- currently copied from clubhouse view -->

{% block title %} {{ _("Global Clubhouse Check-ins")}} {% endblock %}

{% block navtabs %}
<li><a href="/admin">{{_("Admin Home")}}</a></li>
<li><a href="/admin/editclubhouses">{{_("Edit Clubhouses")}}</a></li>
	<!--
        <div>
                <a href="/clubhouse/checkin">{{_("Member Check-ins")}}</a>
	</div>-->
{% endblock %}

{% block content %}

<form action="" method="post">
                <label>{{_("Time range")}}</label>
                <!--div class="dropdown"-->
                <select name="range">
                        {% for x in time_ranges %}
                        <option value="{{ x[0] }}"{% if x[0] == cur_range %} SELECTED {% endif %}>{{ x[1] }}</option>
                        {% endfor %}
                </select>
                <!--/div-->
        <br>
                <label>{{_("Data format")}}</label>
                <!--div class="dropdown"-->
                <select name="format">
                        {% for x in data_format %}
                        <option value="{{ x[0] }}"{% if x[0] == cur_format %} SELECTED {% endif %}>{{ x[1] }}</option>
                        {% endfor %}
                </select>
                <!--/div-->
        <br>
        <input type="submit" value="Fetch data">
</form>
<div> {{ plot|safe }} <div>
{% endblock %}
