{% extends "clubhouse/club_base.html" %}
<!-- homepage for individual clubhouse -->

{% block title %} {{_("Clubhouse Coordinator")}} {% endblock %}

{% block navtabs %}
<li><a href="/clubhouse/checkin">{{_("Member Check-in")}}</a></li>
<li><a href="/clubhouse/members">{{_("Edit Members")}}</a></li>
<li><a href="/clubhouse/view">{{_("View Data")}}</a></li>
<li><a href="/account">{{_("Account")}}</a></li>
{% endblock %}

{% block content %}
<div class="w3-bar" style="text-align: center">
	<a href="/clubhouse/checkin" class="w3-button w3-bar-item w3-xlarge w3-indigo w3-hover-blue w3-border w3-border-blue w3-round-large" style="width:32%; margin: 12px; float: left">{{_("Member Check-Ins")}}<br><i class="material-icons" style="font-size:96px;color:#A23BEC">how_to_reg</i></a>
	<a href="/clubhouse/members" class="w3-button w3-bar-item w3-xlarge w3-indigo w3-hover-blue w3-border w3-border-blue w3-round-large" style="width:32%; margin: 12px; float: center">{{_("Edit Members")}}<br><i class="material-icons" style="font-size:96px;color:#A23BEC">edit</i></a>
	<a href="/clubhouse/view" class="w3-button w3-bar-item w3-xlarge w3-indigo w3-hover-blue w3-border w3-border-blue w3-round-large" style="width:32%; margin: 12px; float: right">{{_("View Clubhouse Data")}}<br><i class="material-icons" style="font-size:96px;color:#A23BEC">show_chart</i></a>
</div>
{% endblock %}
