{% extends "clubhouse/club_base.html" %}
<!-- view data -->

{% block title %} {{ _("Clubhouse Check-ins")}} {% endblock %}

{% block navtabs %}
<li class="nav-item"><a class="nav-link" href="/clubhouse">{{_("Clubhouse Home")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/clubhouse/checkin">{{_("Member Check-in")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/clubhouse/members">{{_("Edit Members")}}</a></li>
<li class="nav-item"><a class="nav-link" href="/account">{{_("Account")}}</a></li>
{% endblock %}

{% block content %}
<div class="col" id="clubhouse-view">
	<form action="" method="post">
			<label>{{_("Time range")}}</label>
			<select class="dropdown" name="range">
				{% for x in time_ranges %}
				<option value="{{ x[0] }}"{% if x[0] == cur_range %} SELECTED {% endif %}>{{ x[1] }}</option>
				{% endfor %}
			</select>
		<br>
			<label>{{_("Data format")}}</label>
			<select class="dropdown" name="format">
				{% for x in data_format %}
				<option value="{{ x[0] }}"{% if x[0] == cur_format %} SELECTED {% endif %}>{{ x[1] }}</option>
				{% endfor %}
			</select>
		<br>
		<input type="submit" value="Fetch data">
	</form>
	<div> {{ plot|safe }} </div>
</div>
{% endblock %}
