<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
	{% block scripts %}
	{% endblock %}
        <title>{% block title %}{% endblock %} - The Clubhouse Network</title>
        {% endblock %}
    </head>
    <body>
        <article>
            <header>
		<nav>
	    <div id="navbar">
		<a href="/" id="logo"><img src = "{{ url_for('static',filename='images/small.jpg') }}"></a>
		<ul>
                        {% block navtabs %}{% endblock %}
			{% if not current_user.is_anonymous %}
			<li><a href="{{ url_for('logout') }}">Logout</a></li>
			{% endif %}
                    </ul>
                </div>
		</nav>
		{% if not current_user.is_anonymous %}
		<div id="welcome">
			{% if current_user.access == "admin" %}
			<h1>{{_("Welcome, Administrator")}}</h1>
			{% block welcome_message %}{% endblock %}
			{% else %}
			<h1>{{current_user.name}}</h1>
			{% endif %}
		</div>
		{% endif %}
		{% with messages = get_flashed_messages() %}
		{% for message in messages %}
		<span style="color: red;">{{ message }}</span>
		{% endfor %}
		{% endwith %}
            </header>

            <main>
                <div id="content">{% block content %}{% endblock %}</div>
            </main>

            <footer>
                {% block footer %}
                Footer - The Clubhouse Network.
                {% endblock %}
            </footer>
        </article>
    </body>
    {% block endscripts %}
    {% endblock %}
</html>
