{% extends "base.html" %}
<!-- main page for top-level sign-in for both clubhouse and admin -->

{% block title %} {{ _("Home")}} {% endblock %}

{% block navtabs %}
{% if not current_user.is_anonymous %}
{% if current_user.access == "admin" %}
<li><a href="/admin">{{_("Administrator Home")}}</a></li>
{% endif %}
<li><a href="/clubhouse">{{_("Coordinator Home")}}</a></li>
{% else %}
<li><a href="/login">{{_("Login")}}</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% if current_user.is_anonymous %}
<h1>{{_("Welcome! Sign in to your respective account.")}}</h1>
{% endif %}

<div>
	<a href="/admin">{{_("where sign in to administrators go")}} </a>
</div>

<div>
	<a href="/clubhouse"> {{_("where sign in to coordinators go")}} </a>
</div>
{% endblock %}
