{% extends "base.html" %}
<!-- main page for top-level sign-in for both clubhouse and admin -->

{% block title %} {{ _("Home")}} {% endblock %}

{% block navtabs %}
<li><a href="/admin">{{_("Administrator Home")}}</a></li>
<li><a href="/clubhouse">{{_("Coordinator Home")}}</a></li>
{% if current_user.is_anonymous %}
<li><a href="/login">{{_("Login")}}</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% if current_user.is_anonymous %}
<h1>{{_("Welcome! Sign in to your respective account.")}}</h1>
{% endif %}

<div class="w3-center">
<div class="w3-bar">
	<a href="/admin" class="w3-button w3-jumbo w3-indigo w3-hover-blue w3-round-large w3-padding-large">{{_("Admin Sign-In")}}</a>
	<a href="/clubhouse" class="w3-button w3-jumbo w3-indigo w3-hover-blue w3-round-large w3-padding-large">{{_("Clubhouse Sign-In")}}</a>
</div>
</div>
<div>
	<a href="/admin">{{_("where sign in to administrators go")}} </a>
</div>

<div>
	<a href="/clubhouse"> {{_("where sign in to coordinators go")}} </a>
</div>
{% endblock %}
