{% extends "base.html" %}
<!-- main page for top-level sign-in for both clubhouse and admin -->

{% block title %} {{ _("Home")}} {% endblock %}

{% block navtabs %}
{% if not current_user.is_anonymous %}
{% if current_user.access == "admin" %}
<li><a href="/admin">{{_("Administrator Home")}}</a></li>
{% endif %}
<li><a href="/clubhouse">{{_("Coordinator Home")}}</a></li>
{% else %}
<li><a href="/login">{{_("Login")}}</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% if current_user.is_anonymous %}
<h1>{{_("Welcome! Please sign in.")}}</h1>
{% endif %}

<a href="/login" class="w3-button w3-block w3-jumbo w3-indigo w3-hover-blue w3-border w3-border-blue w3-round-large w3-padding-large">{{_("Admin or Clubhouse Sign-In")}}</a>
{% endblock %}
